server:
  ip: localhost
  port: 9090

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/softwarecup?serverTimezone=GMT%2b8
    username: root
    password: 123456
  redis:
    host: 127.0.0.1
    port: 6379
  servlet:
    multipart:
      max-file-size: 1500MB
      max-request-size: 1500MB
mybatis:
  mapper-locations: classpath:mapper/*.xml  #扫描所有mybatis的xml文件
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

files:
  upload:

    path: D:/Software-Cup/files/
  pythonupload:
    path: D:/Software-Cup/data/
  pythondownload:
    path: D:/Software-Cup/
  Jsondownload:
      path: D:/Software-Cup/json/
  pythonDataTestupload:
    path: D:/Software-Cup/OnlinePredict/
